<div class="message">
  <p><%= @question %></p>
  <p class="italic">--You</p>
</div>
<div class="message yellow">
  <p><%= @answer %></p>
  <p class="italic"> --Your coach </p>
</div>
<%= link_to "Ask a new question", ask_path %>
