<div class="cards">
  <div class="card-body">
    <p><%= @question %></p>
    <p><em>--You</em></p>
  </div>

  <div class="card-body" id="answer">
    <p><strong><%= @answer %></strong></p>
    <p><em>--Your coach</em></p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
