<div class="cards">
  <blockquote class="card-body">
    <p>
      <% if @question.blank? %>
        <%= "ðŸ§" %>
      <% else %>
        <%= @question %>
      <% end %>
    </p>
    <cite>You</cite>
  </blockquote>

  <blockquote class="card-body" id="coach">
    <p><strong><%= @answer %></strong></p>
    <cite>Your coach</cite>
  </blockquote>
</div>

<%= link_to "Ask a new question", ask_path %>
