<p>Ask your coach anything:</p>
<div class="form">
<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>" class="input-bar">
  <input type="submit" value="Ask" class="button-ask">
</form>
</div>
