<p>Ask your coach anything:</p>
<form action="answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder=""
    aria-label="Recipient's username" aria-describedby="button-addon">
    <button class="btn btn-primary" type="submit" id="button-addon">Ask!</button>
  </div>
</form>
